<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Over mij</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
	      <p>
Dr. Leo van Kampenhout (1986) groeide op in Drenthe, dichtbij en met liefde voor de natuur. 
Hij studeerde technische wiskunde in Groningen, werkte als klimaatmodelleur en promoveerde in 2020 aan de Universiteit Utrecht bij de vakgroep polaire meteorologie (<a href="https://doi.org/10.33540/23" class="about" target="_blank">proefschrift</a>).
         </p>
      </div>
      <div class="col-lg-4">
         <p>
   Sinds september 2024 is hij aan de slag als freelance onderzoeker waarbij hij zich toelegt op de aanwezigheid van pesticiden in het milieu. 
	Leo heeft ervaring bij uiteenlopende organisaties waaronder Shell, Universiteit Utrecht, Fossielvrij NL en Meten=Weten. 
         </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/leo-van-kampenhout-5391843b/"  class="btn btn-lg btn-outline">
          Bekijk mijn CV (LinkedIn)
        </a>
      </div>
    </div>
  </div>
</section>
