<!-- Diensten Section -->
<section class="diensten" id="diensten">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Diensten</h2>
            <hr class="star-light">
         </div>
      </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
         <ul>
            <li>onderzoek en data-analyse</p> 
            <li> rapportage op wetenschappelijke niveau</p> 
         </ul>
      </div>

      <div class="col-lg-4 ">
         <ul>
            <li> digitalisering en digitale veiligheid</p> 
            <li> ontwikkelen campagnestrategie, pr</p> 
         </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:info@vankampenhout-advies.nl" class="btn btn-lg btn-outline">
          Neem contact op
        </a>
      </div>
    </div>
  </div>
</section>
